<div class="row">
  <h5 class="col col-sm-3">Dictionary</h5>
    <div class="text-center col col-sm-9">
      <div class="funkyradio" style="display: inline-block;">
        <div class="funkyradio-success" style="display: inline-block;">
          <input type="radio" name="dictionary" id="dictionary1" value='en-vi' checked/>
          <label for="dictionary1">English - Vietnamese</label>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="funkyradio-success" style="display: inline-block;">
          <input type="radio" name="dictionary" id="dictionary2" value='vi-en' />
          <label for="dictionary2">Vietnamese - English</label>
        </div>
      </div>
    </div>
</div>

<hr>

<div class="row">
  <h5 class="col col-sm-3">Categories</h5>
  <div class="text-center col col-sm-9">
    <div class="funkyradio" style="display: inline-block;">
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="checkbox" name="categories[]" value="Noun" id="categories1" checked/>
        <label for="categories1">Noun</label>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="checkbox" name="categories[]" value="Adjective" id="categories2" checked/>
        <label for="categories2">Adjective</label>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="checkbox" name="categories[]" value="Verb" id="categories3" checked/>
        <label for="categories3">Verb</label>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="checkbox" name="categories[]" value="Adverb" id="categories4" checked/>
        <label for="categories4">Adverb</label>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="checkbox" name="categories[]" value="Noun Phrase" id="categories5" checked/>
        <label for="categories5">Noun Phrase</label>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <h5 class="col col-sm-3">Numeric</h5>
  <div class="text-center col col-sm-9">
    <div class="funkyradio" style="display: inline-block;">
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="numeric" value="20" id="numeric1" checked/>
        <label for="numeric1">20</label>
      </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="numeric" value="50" id="numeric2" />
        <label for="numeric2">50</label>
      </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="numeric" value="100" id="numeric3" />
        <label for="numeric3">100</label>
      </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="numeric" value="200" id="numeric4" />
        <label for="numeric4">200</label>
      </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="numeric" value="all" id="numeric5" />
        <label for="numeric5">All</label>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <h5 class="col col-sm-3">Alphabet</h5>
  <div class="text-center col col-sm-9">
    <div class="funkyradio" style="display: inline-block;">
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="alphabet" value="a-f" id="alphabet1" />
        <label for="alphabet1">A - F</label>
      </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="alphabet" value="g-l" id="alphabet2" />
        <label for="alphabet2">G - L</label>
      </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="alphabet" value="m-r" id="alphabet3" />
        <label for="alphabet3">M - R</label>
      </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="alphabet" value="s-z" id="alphabet4" />
        <label for="alphabet4">S - Z</label>
      </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="alphabet" value="all" id="alphabet5" checked />
        <label for="alphabet5">All</label>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <h5 class="col col-sm-3">Style</h5>
  <div class="text-center col col-sm-9">
    <div class="funkyradio" style="display: inline-block;">
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="style" value="random" id="style1" checked />
        <label for="style1">Random</label>
      </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="funkyradio-success" style="display: inline-block;">
        <input type="radio" name="style" value="newest" id="style2" />
        <label for="style2">Newest</label>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="text-center">
  <input type="button" value="Start Play Game" class="btn btn-primary" id="start-game" style="margin: 40px auto 50px;">
</div>
