<p id="notice"><%= notice %></p>

<h1>Dictionaries</h1>
<h5 style="text-align: right;">Total: <%= @count %></h5>

<%= render 'dictionaries/words' %>

<br>

<%= paginate @dictionaries %>
<br>
<br>
<br>
<br>
<br>