/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "simplemde.min";
@import "font-awesome";

body {
  position: relative;
}

label {
  font-weight: 600;
}

table tr th,
table tr td {
  vertical-align: middle !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  z-index: 9999;
}

.app-wrapper {
  margin-top: 80px;
}

.source-word {
  width: 50%;
  height: 200px;
  margin: 0 auto;
  font-size: 60px;
  font-weight: bold;
  color: darkslategrey;
  border: 1px solid #888;
  border-radius: 8px;
  position: relative;
  box-shadow: 3px 3px 3px 3px;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 70px;
  }
}

.destination-word {
  margin-top: 30px;
  input[type="text"] {
    width: 50%;
    margin: 0 auto;
  }
  input[type="button"] {
    margin-top: 10px;
  }
}

.check-word {
  font-size: 30px;
  color: #23b134;
  display: none;
}

.score-wrapper {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.create-new-word {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #bf3131;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  a {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-size: 40px;
    text-decoration: none;
  }
}

a.references {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 992px) {
  .navbar {
    text-align: center;
  }

  .search-box {
    display: block;
  }
}