<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/dictionaries">Bright Dictionary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dictionaries">Dictionaries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/histories">Histories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dictionaries/new">CREATE A NEW WORD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/play/options">PLAY</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search-input" onkeypress="return searchWord(event);">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="search-button">Search</button>
    </div>
  </div>
</nav>

<script type="text/javascript">
  function searchWord(e) {
    e = e || window.event;
    if (e.keyCode == 13) {
      $('#search-button').trigger('click');
      return false;
    }
    return true;
  }
</script>